:root,
[data-theme="light"] {
  --bg-gray: #f5f8fa;
  --text-gray-800: #3f4254;
  --text-gray-400: #b5b5c3;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #eff2f5;
}

body {
  background-color: var(--bg-gray);
  font-family: "Inter", sans-serif;
  font-size: 13px !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../../../public/bg.jpeg");
  background-size: 100% 250px;
}

.navbar {
  height: 65px;
  left: 0;
  padding: 0;
  right: 0;
  top: 0;
  &.transparent {
    background-color: transparent !important;
  }
  .container {
    &.collapsed {
      background-color: #fff;
      padding-bottom: 10px;
      z-index: 1;
      border-bottom: var(--kt-header-desktop-fixed-border);
    }
  }
}

.header {
  border-bottom: none !important;
}
#mobile-menu-sidebar {
  width: 245px !important;
}

.menu-title {
  color: #fff !important;
}

#mobile-menu-sidebar {
  .menu-title {
    color: var(--kt-text-gray-700) !important;
  }
}
